.body {
    font-family: Arial, sans-serif;
}

.header-lap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff00007b;
    margin-top: 20px;
}

.productos-encontrados {
    font-size: 18px;
    color: #fff;
}

.opciones-ordenar {
    display: flex;
    align-items: center;
    color: #fff;
}

.opciones-ordenar label {
    margin-right: 10px;
}

#ordenar-select {
    padding: 5px;
    font-size: 14px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.categorias {
    width: 350px;
    padding: 20px;
    background-color: #FFF1F1;
    margin-top: 20px;
}

.categorias h2 {
    font-weight: bold;
    color: #ff000093;
    font-size: 35px;
    margin-bottom: 20px;
}

.categorias ul {
    list-style: none;
    padding: 0;
}

.categorias li {
    font-size: larger;
    margin-bottom: 30px;
    padding: 5px;
}

.categorias li:hover {
    color: #dcdadad1;
    cursor: pointer;
}

.categorias a {
    text-decoration: none;
    color: #333;
}

.img-lap {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.productos {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.producto {
    display: flex;
    flex-direction: column;
    border: 2px solid #00000046;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.producto img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}

.producto-info {
    flex-grow: 1;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

button {
    background-color: #ff000093;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 6px;
}

button:hover {
    background-color: #cb5b5b9e;
}

.paginacion {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paginacion ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.paginacion a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #f8f8f8;
    border: 1px solid #FFF1F1;
    color: #333;
}

.paginacion a:hover {
    background-color: #ff000093;
    color: #fff;
}

.paginacion .active {
    background-color: #ff000093;
    color: #fff;
    border-color: #ff00002c;
}

footer {
    background-color: #f8f8f8;
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
    margin-top: 20px;
}

.info-footer p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #333;
}
.producto {
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: scale(1.05);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    font-size: 16px;
    margin-bottom: 10px;
}
li a {
    display: block;
    text-decoration: none;
    color: black;
    transition: font-size 0.3s, color 0.3s;
}
li a:hover {
    font-size: 20px;
    color: red;
}